.background-dice {
  position: absolute;

  &--default {
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
  }

  &--alt {
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  &--mob {
    left: 0;
    top: 0;
  }

  &--mob-alt {
    right: 0;
    top: 0;
  }
}
