.label {
  background-color: #46060f;
  border: 0.1rem solid #fff;
  border-radius: 0.9rem;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  padding: 0.6rem 1.6rem;
  text-align: center;
  width: 8rem;

  &--alternative {
    background-color: #bbbfc0;
    color: #000;
  }
}
