.game-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 60vw;

  @media (max-width: 576px) {
    flex-direction: column;
    height: 80vw;
    width: 80vw;
  }

  @media (max-width: 768px) and (min-width: 577px) {
    flex-direction: column;
    height: 80vw;
    width: 80vw;
  }

  @media (max-width: 992px) and (min-width: 769px) {
    width: 70vw;
  }

  @media (max-width: 1200px) and (min-width: 993px) {
    width: 70vw;
  }
}

.board {
  margin-top: 50px;
}


