.switch {
  background-color: rgb(187, 191, 192);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  outline: none;
  text-align-last: center;
  width: 3rem;
}
