@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.container {
    font-family: 'Alata', sans-serif;
    color: #fff;
    width: 866px;
    height: 406px;
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
    line-height: 1.4em;
    text-shadow: 10px 20px 10px rgba(70, 6, 15, 0.62);
};

