.labels {
  background-color: #46060f;
  border: 0.1rem solid #fff;
  border-radius: 0.9rem;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  padding: 0.6rem 1.6rem;
  text-align: center;
  width: auto;

  &__settings-style {
    margin: 0;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}
