.button {
  background-color: #46060f;
  border: 3px solid #fff;
  border-radius: 20px;
  color: #fff;
  display: block;
  font-size: 2rem;
  height: 3.5rem;
  line-height: 3.5rem;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  width: 17rem;

  &--disabled {
    box-shadow: -10px -10px 40px rgba(41, 231, 162, 0.6), 10px 10px 40px rgba(41, 231, 162, 0.6);
  }
}
